@font-face {
  font-family: poppins;
  src: url(/Poppins-Bold.ttf);
}
@font-face {
  font-family: opensans;
  src: url(/OpenSans-Bold.ttf);
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.logo {
  margin-top: 45px;
  margin-left: 4em;
}
.try {
  float: right;
  margin-top: 50px;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid;
  border-color: hsl(0, 100%, 63%);
  margin-right: 3em;
  background-color: white;
  color: hsl(0, 100%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin-top: 100px;
  font-weight: 700;
  font-family: poppins;
}
.re-imagines {
  width: 30%;
  text-align: center;
  font-family: opensans;
}
.start {
  height: 40px;
  width: 250px;
  border-radius: 40px;
  margin-top: 5em;
  padding: 30px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: hsl(321, 100%, 78%);
}
.photo {
  margin-top: 100px;
  height: 70%;
  width: 70%;
  margin-left: 10em;
}
.meters {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-between;
}
.community {
  margin-left: 190px;
  margin-top: 50px;
}
.strong {
  font-size: 60px;
}
.change {
  color: hsl(192, 100%, 9%);
}

.messages {
  margin-right: 450px;
  margin-top: 50px;
}
f main {
  color: hsl(192, 100%, 9%);
}
.box1 {
  background-color: hsl(207, 100%, 98%);
  height: 500px;
  display: flex;
  flex-direction: row;
}
.together {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 90px;
  width: 30%;
  font-family: opensans;
  font-weight: 700;
}
.text {
  align-items: center;
  font-family: opensans;
  font-weight: 400;
}
h2 {
  font-family: poppins;
  font-weight: 600;
}
.grow {
  height: 400px;
  width: 450px;
  margin-left: 15em;
  margin-top: 50px;
}
.ph {
  float: right;
  width: 300px;
  padding: 10px;
  margin-top: 100px;
  margin-right: 15em;
}
.table {
  height: 300px;
  margin-top: 40px;
  margin-left: 8em;
}
.box3 {
  background-color: hsl(207, 100%, 98%);
}
.ph1 {
  float: left;
  width: 300px;
  padding: 10px;
  margin-top: 100px;
  margin-right: 15em;
  margin-left: 200px;
}
.time {
  font-family: opensans;
  font-weight: 600;
}
.circle {
  height: 400px;
}
.box4 {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.free {
  color: white;
  border-radius: 40px;
  margin-top: 30px;
  padding: 20px;
  width: 260px;
  border: none;
  cursor: pointer;
  background-color: hsl(322, 100%, 66%);
}
.build {
  font-weight: 700;
  margin-top: 60px;
  font-family: poppins;
}
footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: row;
  height: 500px;
  color: white;
  width: 100%;
}
.email {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  font-size: 20px;
}
.logo2 {
  margin-left: 80px;
  margin-top: 90px;
  font-size: 190px;
  height: 40px;
}
.paragraph {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 400px;
  font-family: opensans;
}
.fa-phone-volume {
  font-size: 20px;
  margin-bottom: 15px;
}
.icon {
  margin-left: 80px;
  margin-top: 60px;
}
a i {
  color: white;
  font-size: 50px;
}
a i:hover {
  background-color: hsl(212, 76%, 48%);
}
.fa-instagram {
  padding-left: 5px;
}
.fa-twitter-square {
  padding-left: 5px;
}
.box5 {
  margin-top: 100px;
  margin-left: 300px;
  width: 70%;
  font-size: 20px;
}
.receive {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: opensans;
}
input {
  margin-top: 10px;
  padding: 15px;
  width: 250px;
  margin-left: 0%;
  border-radius: 9px 9px 9px 9px;
  border: none;
}
.validation {
  display: flex;
  flex-direction: row;
  margin-left: -80px;
}
.button {
  padding: 0px;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 9px 9px 9px 9px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: hsl(322, 100%, 66%);
}
#result {
  color: hsl(0, 100%, 63%);
  margin-top: -50px;
}
.footer-desktop {
  width: 100vw;
  margin-bottom: -6px;
}
.section-bottom-desktop {
  width: 100vw;
}
.section-top-desk-top2 {
  width: 100vw;
  margin-bottom: -6px;
}
.section-bottom-desktop1 {
  width: 100vw;
}
.section-top-desk-top1 {
  width: 100vw;
  margin-bottom: -6px;
}
.section-top-mobile,
.section-mobile-bottom1,
.section-mobile-top2,
.section-mobile-bottom2 {
  display: none;
}
@media only screen and (max-width: 375px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-top: 50px;
    margin-left: 1em;
    width: 50%;
    height: 40px;
  }
  .try {
    border-radius: 20px;
    border: 1px solid;
    border-color: hsl(0, 100%, 63%);
    background-color: white;
    width: 100px;
    height: 8px;
    padding: 20px;
    margin-right: 5px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .title {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 90px;
    font-weight: 600;
    text-align: center;
  }
  .re-imagines {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .start {
    margin-left: 60px;
  }
  .photo {
    margin-top: 100px;
    height: 100%;
    width: 80%;
    margin-left: 2em;
  }
  .meters {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .community {
    margin-left: 90px;
  }
  .messages {
    margin-left: 90px;
    width: 30%;
  }
  .section-top-desk-top1 {
    margin-top: 250px;
    width: 0%;
  }
  .box1 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .together {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
    margin-right: 200px;
    width: 100%;
    justify-content: center;
  }
  .Generate {
    margin-right: 7px;
  }

  .grow {
    margin-left: 5em;
    font-size: 5px;
    height: 300px;
    width: 300px;
  }
  .text {
    margin-left: 0px;
  }
  .box2 {
    display: flex;
    flex-direction: column;
  }
  .table {
    margin-left: 10px;
  }
  .ph {
    float: none;
    width: 350px;
    padding: 10px;
    margin-right: 0em;
    text-align: center;
  }
  .box3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .circle {
    font-size: 10px;
    height: 200px;
    margin-left: 20px;
  }
  .ph1 {
    text-align: center;
    float: none;
    width: 320px;
    padding: 0px;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .build {
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    height: 950px;
    width: 100vw;
  }
  .box5 {
    margin-left: 30px;
    width: 100%;
    font-size: 20px;
    height: 100%;
  }
  .receive {
    width: 90%;
  }
  h3 {
    font-family: poppins;
    font-weight: 700;
  }
  .email {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .paragraph {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
    padding-right: 30px;
  }
  a i {
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
  }
  .fa-facebook-square {
    margin-left: -50px;
  }
  .logo2 {
    margin-left: 30px;
    margin-top: 120px;
    font-size: 100px;
    height: 40px;
  }
  .validation {
    display: flex;
    flex-direction: column;
    margin-left: -30px;
  }
  .button {
    padding: 15px;
    width: 110px;
    margin-left: 250px;
  }
  input {
    width: 300px;
  }
  .section-top-mobile {
    display: block;
    padding-top: 220px;
  }
  .section-mobile-bottom1,
  .section-mobile-top2,
  .section-mobile-bottom2 {
    display: block;
  }
  .section-bottom-desktop,
  .section-top-desk-top2,
  .section-bottom-desktop1,
  .section-top-desk-top1 {
    display: none;
  }
}
